.audio_player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--light-black);
  color: var(--white);
}

.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
}

.imageBox img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.song_info {
  margin-left: 10px;
}

.song_name,
.song_artist {
  margin: 0;
}

.center {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .audio_controls {
    margin-top: 1rem;

    .tool_tip {
      font-size: 1.2rem !important;
    }

    .play {
      svg {
        background-color: var(--white);
        color: var(--black);
        padding: 0.5rem;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .prev,
    .next {
      color: var(--light-white);
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .prev:hover,
    .next:hover {
      color: whitesmoke;
    }
    .repeatIcon {
      color: var(--light-white);
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .mute {
      color: var(--light-white);
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .repeatIcon:hover,
    .mute:hover {
      color: whitesmoke;
    }
  }

  .progress_container {
    display: flex;
    align-items: center;
    margin: 1rem 0 1.5rem 0;

    p {
      color: var(--light-white);
      font-size: 1.2rem;
      margin: 0 1rem;
    }
    .progress {
      width: 50rem;
      height: 0.5rem;
    }
    .volume {
      width: 100px;
      height: 5px;
      outline: none;
      border-radius: 5px;
    }
  }
}
